/* some style */

.demo-nav {
  background-color: #009688 !important;
  border-color: #009688 !important;
}

a.yet-brand {
  color: white !important;
}

textarea.statement-input {
  width: 100%;
  min-height: 500px;
}

pre.statement {
  min-height: 500px;
}
